doctype html
html
    head
        title Marvel
        meta(charset="UTF-8")
        link(href="/css/marvel.css" rel="stylesheet" type='text/css')
    body
        div(id="root")
        script(src="/js/react.js" crossorigin)
        script(src="/js/react-dom.js" crossorigin)
        script(src="/js/marvel.js")

        p(style="margin-top: 5rem; font-size: xx-large; margin-left: 3rem; margin-right: 3rem;")
            a(href="/") Вернуться на главную yes-world.ru
        p(style="font-size: xx-large; margin-left: 3rem; margin-right: 3rem;") Это мой первый сайт. Создавался он для просмотра на компьютере, поэтому никак не адаптирован под мобильные устройства.
        p(style="font-size: xx-large; margin-left: 3rem; margin-right: 3rem;") Здесь вы можете посмотреть некоторую информацию по фильмам Marvel. Фильмы разделены по фазам и расположены в порядке выхода.