doctype html
html
    head
        title Чтение - yes.world
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/open-iconic-bootstrap.min.css")
        script(src="/js/jquery-3.5.1.js")
        script(src="/js/bootstrap.bundle.js")
        script(src="/js/jquery.lazy.min.js")
        script (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(65130928, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true });
        noscript
            div
                img(src="https://mc.yandex.ru/watch/65130928" style="position:absolute; left:-9999px;" alt="")
    body
        div(class="container-fluid sticky-top navControlLight" id="navControl")
            div(class="row")
                button(type="button" class="btn" id="butMore")
                    span(class="oi oi-zoom-in butControlLight" title="zoom in" aria-hidden="true")
                button(type="button" class="btn" id="butLess")
                    span(class="oi oi-zoom-out butControlLight" title="zoom out" aria-hidden="true")
                button(type="button" class="btn" id="butTheme")
                    span(class="oi oi-moon butControlLight" title="moon" aria-hidden="true")
                button(type="button" class="btn ml-auto" id="butClose")
                    span(class="oi oi-x butControlLight" title="x" aria-hidden="true")

        div(class="container")
            div(class="row")
                div(class="col-12")
                    div !{content}

        script(src="/js/bookReader.js")