.mh1 {
    font-size: 3.5rem;
    font-weight: 300;
}

.mh2 {
    font-size: 1.75rem;
    font-weight: 300;
}

.mh3 {
    font-size: 1.25rem;
    font-weight: 300;
}

.conWin1{
    font-size: large;
}

.conWin2 {
    background-color: #910083;
    color: white;
    font-size: large;
}

.ex1 {
    height: 250px;
    background-color: #910083;
    color: white;
}

.validMessage {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

@media (min-width: 768px) {
    .contactWindow {
        border-radius: 10px;
        background-color: #910083;
        color: white;
    }

    #forgetPass {
        color: white !important;
    }
}